.selected {
    background-color: #e0e0e0;
    font-weight: bold;
}

td[style*="cursor: pointer"]:hover {
    background-color: #f0f0f0;
}

img { cursor: pointer; }

.hitbox-active {
    background-color: white !important;
}

.hitbox-inactive {
    background-color: #e0e0e0 !important;
}