<table border="1" style="border-collapse: collapse; width: 100%; max-width: 600px; text-align: center;">
    <tr style="height: 20px">
        <td class="s0" dir="ltr" colspan="2" style="text-align: right; width: 100px;"><b>UNIT</b></td>
        <td class="s1" dir="ltr" colspan="2" style="width: 400px;">
            <div style="display: flex; align-items: center; gap: 8px;">
                <input *ngIf="!isMAC(unit) && !printMode" type="number" [(ngModel)]="unit.formationSize" (ngModelChange)="unitChanged.emit(unit)" min="1" style="width: 60px; height: 100%; box-sizing: border-box; border: none; text-align: center;" />
                <span *ngIf="!isMAC(unit) && printMode" style="width: 60px; text-align: center;">{{unit.formationSize}}</span>
                <input *ngIf="!printMode" type="text" class="unit-name" [(ngModel)]="unit.name" (click)="selectText($event)" (ngModelChange)="unitChanged.emit(unit)" style="flex: 1; height: 100%; box-sizing: border-box; border: none; text-align: center;" />
                <span *ngIf="printMode" style="flex: 1; text-align: center; font-weight: bold;">{{unit.name}}</span>
                <button *ngIf="!printMode" (click)="deleteUnit.emit()" style="background: none; border: none; cursor: pointer; font-size: 1.2em; padding: 0 4px;" title="Delete Unit">🗑️</button>
            </div>
        </td>
    </tr>
    <tr style="height: 20px">
        <td class="s0" dir="ltr" colspan="2" style="text-align: right; width: 100px;"><b>COST</b></td>
        <td class="s1" dir="ltr" style="width: 50px;">{{this.getCost(unit)}}</td>
                 <td class="s2" rowspan="7" style="width: 300px; padding: 4px; box-sizing: border-box; vertical-align: top;">
             <input *ngIf="!printMode" #fileInput type="file" accept="image/png,image/jpeg,image/jpg" style="display: none;" (change)="onImageSelected($event)" />
                           <img *ngIf="getImageSrc(unit.image)" [src]="getImageSrc(unit.image)" (click)="triggerFileInput()" [style]="getImageStyle()" [style.cursor]="printMode ? 'default' : 'pointer'" />
         </td>
    </tr>
    <tr style="height: 20px">
        <td class="s3" dir="ltr" colspan="2" style="width: 100px;"><b>TYPE</b></td>
        <td class="s3" dir="ltr" style="width: 50px;"><b>HIT</b></td>
    </tr>
    <tr style="height: 20px">
        <td class="s1" style="width: 50px;"></td>
        <td class="s2" dir="ltr" [class.selected]="isClass(unit, 1)" (click)="!printMode && selectUnitType('Class 1 MAC')" [style.cursor]="printMode ? 'default' : 'pointer'" style="user-select: none; width: 150px;">Class 1 MAC</td>
        <td class="s1" [class.hitbox-active]="isHitboxActive(unit, 0)" [class.hitbox-inactive]="!isHitboxActive(unit, 0)" style="width: 50px;"></td>
    </tr>
    <tr style="height: 20px">
        <td class="s3" style="width: 50px;"></td>
        <td class="s4" dir="ltr" [class.selected]="isClass(unit, 2)" (click)="!printMode && selectUnitType('Class 2 MAC')" [style.cursor]="printMode ? 'default' : 'pointer'" style="user-select: none; width: 150px;">Class 2 MAC</td>
        <td class="s1" [class.hitbox-active]="isHitboxActive(unit, 1)" [class.hitbox-inactive]="!isHitboxActive(unit, 1)" style="width: 50px;"></td>
    </tr>
    <tr style="height: 20px">
        <td class="s1" style="width: 50px;"></td>
        <td class="s2" dir="ltr" [class.selected]="isClass(unit, 3)" (click)="!printMode && selectUnitType('Class 3 MAC')" [style.cursor]="printMode ? 'default' : 'pointer'" style="user-select: none; width: 150px;">Class 3 MAC</td>
        <td class="s1" [class.hitbox-active]="isHitboxActive(unit, 2)" [class.hitbox-inactive]="!isHitboxActive(unit, 2)" style="width: 50px;"></td>
    </tr>
    <tr style="height: 20px">
        <td class="s1" style="width: 50px;"></td>
        <td class="s2" dir="ltr" [class.selected]="isAuxiliaryType(unit, 'infantry')" (click)="!printMode && selectUnitType('Infantry AU')" [style.cursor]="printMode ? 'default' : 'pointer'" style="user-select: none; width: 150px;">Infantry AU</td>
        <td class="s5" class="selected" style="width: 50px;"></td>
    </tr>
    <tr style="height: 20px">
        <td class="s1" style="width: 50px;"></td>
        <td class="s2" dir="ltr" [class.selected]="isAuxiliaryType(unit, 'vehicle')" (click)="!printMode && selectUnitType('Vehicle AU')" [style.cursor]="printMode ? 'default' : 'pointer'" style="user-select: none; width: 150px;">Vehicle AU</td>
        <td class="s5" class="selected" style="width: 50px;"></td>
    </tr>
    <tr style="height: 20px">
        <td class="s1" style="width: 50px;"></td>
        <td class="s3" dir="ltr" style="width: 150px;"><b>MODULE</b></td>
        <td class="s3" dir="ltr" style="width: 50px;"><b>HIT</b></td>
        <td class="s3" dir="ltr" style="width: 300px;"><b>NOTES</b></td>
    </tr>
    <tr style="height: 20px" *ngFor="let i of [0,1,2,3,4,5]">
        <td class="s1" dir="ltr" style="width: 50px;">{{i + 1}}</td>
        <td class="s1" dir="ltr" style="width: 150px;">
            <select *ngIf="!printMode" [(ngModel)]="unit.modules[i]" (ngModelChange)="unitChanged.emit(unit)" style="width: 100%; height: 100%; border: none; text-align: left;">
                <option [ngValue]="null"></option>
                <option *ngFor="let module of getAvailableModules(unit, i + 1)" [ngValue]="module">
                    {{getModuleName(module)}}
                </option>
            </select>
            <span *ngIf="printMode" style="display: block; text-align: left; padding: 0 4px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{getModuleName(unit.modules[i])}}</span>
        </td>
        <td class="s1" style="width: 50px;"></td>
        <td class="s1" dir="ltr" style="width: 300px; font-size: 0.8em;">{{getModuleEffect(unit.modules[i])}}</td>
    </tr>
</table>
