<table border="1" style="border-collapse: collapse; width: 100%; max-width: 400px; text-align: center;">
    <tr style="height: 24px">
        <td class="s0" dir="ltr" colspan="2" style="text-align: right;"><b>UNIT</b></td>
        <td class="s1" dir="ltr" colspan="2"><input type="text" class="unit-name" [value]="unit.name" /></td>
    </tr>
    <tr style="height: 24px">
        <td class="s0" dir="ltr" colspan="2" style="text-align: right;"><b>COST</b></td>
        <td class="s1" dir="ltr">{{getCost(unit)}}</td>
        <td class="s2" rowspan="7"></td>
    </tr>
    <tr style="height: 24px">
        <td class="s3" dir="ltr" colspan="2"><b>TYPE</b></td>
        <td class="s3" dir="ltr"><b>HIT</b></td>
    </tr>
    <tr style="height: 24px">
        <td class="s1"></td>
        <td class="s2" dir="ltr" [class.selected]="isClass(unit, 1)" (click)="selectUnitType('Class 1 MAC')" style="cursor: pointer; user-select: none;">Class 1 MAC</td>
        <td class="s1"></td>
    </tr>
    <tr style="height: 24px">
        <td class="s3"></td>
        <td class="s4" dir="ltr" [class.selected]="isClass(unit, 2)" (click)="selectUnitType('Class 2 MAC')" style="cursor: pointer; user-select: none;">Class 2 MAC</td>
        <td class="s1"></td>
    </tr>
    <tr style="height: 24px">
        <td class="s1"></td>
        <td class="s2" dir="ltr" [class.selected]="isClass(unit, 3)" (click)="selectUnitType('Class 3 MAC')" style="cursor: pointer; user-select: none;">Class 3 MAC</td>
        <td class="s1"></td>
    </tr>
    <tr style="height: 24px">
        <td class="s1"></td>
        <td class="s2" dir="ltr" [class.selected]="isAuxiliaryType(unit, 'infantry')" (click)="selectUnitType('Infantry AU')" style="cursor: pointer; user-select: none;">Infantry AU</td>
        <td class="s5" class="selected"></td>
    </tr>
    <tr style="height: 24px">
        <td class="s1"></td>
        <td class="s2" dir="ltr" [class.selected]="isAuxiliaryType(unit, 'vehicle')" (click)="selectUnitType('Vehicle AU')" style="cursor: pointer; user-select: none;">Vehicle AU</td>
        <td class="s5" class="selected"></td>
    </tr>
    <tr style="height: 24px">
        <td class="s1"></td>
        <td class="s3" dir="ltr"><b>MODULE</b></td>
        <td class="s3" dir="ltr"><b>HIT</b></td>
        <td class="s3" dir="ltr"><b>NOTES</b></td>
    </tr>
    <tr style="height: 24px">
        <td class="s1" dir="ltr">1</td>
        <td class="s1" dir="ltr">SG3 Missiles</td>
        <td class="s1"></td>
        <td class="s1"></td>
    </tr>
    <tr style="height: 24px">
        <td class="s1" dir="ltr">2</td>
        <td class="s1" dir="ltr">Jet</td>
        <td class="s1"></td>
        <td class="s1" dir="ltr">Jump 9&quot;</td>
    </tr>
    <tr style="height: 24px">
        <td class="s1" dir="ltr">3</td>
        <td class="s1" dir="ltr">Jet</td>
        <td class="s1"></td>
        <td class="s1" dir="ltr">Jump 9&quot;</td>
    </tr>
    <tr style="height: 24px">
        <td class="s1" dir="ltr">4</td>
        <td class="s1" dir="ltr">Insulant</td>
        <td class="s1"></td>
        <td class="s1" dir="ltr">First attack -1 heat</td>
    </tr>
    <tr style="height: 24px">
        <td class="s1" dir="ltr">5</td>
        <td class="s1" dir="ltr">Insulant</td>
        <td class="s1"></td>
        <td class="s1" dir="ltr">First attack -1 heat</td>
    </tr>
    <tr style="height: 24px">
        <td class="s1" dir="ltr">6</td>
        <td class="s1" dir="ltr">Coolant</td>
        <td class="s1"></td>
        <td class="s1" dir="ltr">Cool 2. +2 Heat Destroyed</td>
    </tr>
</table>
